# Avoid publishing the source code in the package
src/

# Avoid publishing the built tests in the package
dist/__tests__/

# Avoid publishing the Travis config
.travis.yml

# Avoid publishing the Jest config
jest.config.js